Repository HiroKX/SondageSpringBoot, pull requests merged in 2024-01, with the labels that each got.

#3 Ajout : page d'index
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/WebController.java
  src/main/resources/static/templates/index.html
Labels: enhancement

#5 Ajout des tests unitaires liés à SondageService
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/services/SondageServiceTest.java
Labels: unit-tests

#13 12 db locale par docker readmemd pour setup
  .gitignore
  README.md
  db/.env
  db/docker-compose.yml
Labels: documentation, enhancement

#17 16 ajout de pitest
  .github/workflows/checkstyle.yml
  .github/workflows/pitest.yml
  pom.xml
Labels: tests

#51 49 maj tests unitaires controleurs
  .github/workflows/Testing.yml
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/ParticipantController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/ParticipationController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/SondageController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/services/SondageService.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/CommentaireControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipantControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipationControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/SondageControllerUnitTest.java
Labels: unit-tests

#57 54 refacto codes http retour listes vides
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/CommentaireController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/DateSondageController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/ParticipantController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/SondageController.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/tests/participant/ParticipantE2ETest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/tests/sondage/SondageE2ETest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/CommentaireControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/DateSondageControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipantControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/SondageControllerUnitTest.java
Labels: enhancement

#63 61-refacto-noms-tests-unitaires
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/CommentaireController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/DateSondageController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/ParticipantController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/ParticipationController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/controllers/SondageController.java
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/services/SondageService.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/CommentaireControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/DateSondageControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipantControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipationControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/SondageControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/CommentaireServiceUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/DateSondageServiceUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/DateSondeeServiceUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/ParticipantServiceUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/SondageServiceUnitTest.java
Labels: enhancement, unit-tests

#64 Renommage tests e2e
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/dataset/commentaire/CommentaireSampleE2E.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/dataset/participant/ParticipantSampleE2E.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/tests/participant/ParticipantE2ETest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/tests/sondage/SondageE2ETest.java
Labels: enhancement, e2e-tests

#66 65-correction-des-missed-branches
  .github/workflows/CD-dev.yml
  .github/workflows/CD-prod.yml
  .github/workflows/Testing.yml
  .github/workflows/UnitTesting.yml
  src/main/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/services/DateSondageService.java
  src/main/resources/application-local.properties
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/unit/controllers/ParticipantControllerUnitTest.java
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/units/services/DateSondageServiceUnitTest.java
Labels: unit-tests

#72 Fix best et maybe dates
  src/test/java/fr/univ/lorraine/ufr/mim/m2/gi/mysurvey/e2e/tests/sondage/SondageE2ETest.java
Labels: bug, e2e-tests
